

/************************************************************************************************************
*                                               Media queries                                               *
*************************************************************************************************************/
@media screen and (max-width: 770px){
  
    #nav-toggle-btn{
        margin-top: 50px;
        margin-bottom: 60px;
    }

    .slides{
        height: 350px !important;
    }
}

/************************************************************************************************************
*                                               Body for all pages                                           *
*************************************************************************************************************/
body{
    margin-top: 150px !important;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    color: black;
}

/************************************************************************************************************
*                                 Navigation and Footer for all pages                                        *
*************************************************************************************************************/
.footerPanel{
    margin-top:8px;
    display: inline-block;
    height: 190px;
    background-color:  honeydew !important;
    color: black;
    text-align: center !important;
    padding-top: 30px;
    font-family: 'Comfortaa', cursive;
    width: 100%;
} 

.footer-info{
    margin-top: 14px;
    line-height: 25px;
    font-size: 14px;
}

.fa {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin: -10px;
    border-radius: 12%;
    margin-right: 15px;
    font-size: 40px !important;
  }


.fa-yahoo {
color: white;
background: #4A00A0;
border: 1px solid white;
}

.fa-yelp {
background: red;
color: white;
border: 1px solid white;
}

.fa-facebook {
background: #3B5998;
color: white;
border: 1px solid white;
padding-right: 10px;
padding-left: 10px;
}
/********************************************************************************************************/
/* Navigation bar */
#logo{
    margin-left: -20px;
    margin-top: -15px;
}
#navigation-bar{
    padding-left: 10px;
    background-color: snow;
    padding-top: 2px !important;

}
#navElements{
    margin-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;

}

#nav-toggle-btn{
    border: 3px solid black;
    line-height: 18px;
    padding: -110px !important;
}
.icon-bar{
    background-color: black !important;
}

.navbar-nav>li>a {
    color : black;
    font-size: 20px;
   }
/************************************************************************************************************
*                                            Home page                                                      *
*************************************************************************************************************/
/* Home page image slider styling */
.slider{
	margin-left: 10px;
	margin-right: 10px;
}

#home-image-text{
    font-size: 55px;
    font-weight: bolder;
    color: white;
    margin-top: -365px;
    margin-left: 820px;
    font-family: Arial, Helvetica, sans-serif;
}
/************************************************************************************************************/
/* Home page -special announcements */
.homepage-panel-specialAnnouncement{
	margin-top: -15px;
    text-align: center;
    font-size: 25px;
    font-weight : bold;
}
/************************************************************************************************************/
/* About and hours */
.abtAndHours{
    background-color: silver;
    min-height: 290px;
    padding-top: 25px;
    border: 1px solid gray;
    border-radius: 2%;
    padding-right: 20px;
    padding-left: 20px;
    overflow:auto;
}
.redDot{
    color: red;
    font-size: large
}

.greenDot{
    color: green;
    font-size: large;
}

.orangeDot{
    color : orangered;
    font-size: large;
}

#businessStatus{
    font-size : 14px;
    font-weight: bold;
}
.homepage-panel-about{
    margin-top: 5px;
    text-align: center;
    line-height: 25px;
}


.homepage-panel-hours{
    margin-top: 5px;
    line-height: 25px;
    text-align: center;
}

#hours-dots{
    color:gray; 
    margin-top: -10px;
}
/************************************************************************************************************/
/* Home page below hours and about us */
.homepage-welcome-msg{
    /* margin-top: -5px; */
    text-align: center;
    font-size: 25px;
    font-weight : bold;
    margin-bottom: 20px;
}

.service-shortcut-divs{
    padding-top:20px; 
    /* padding-bottom:60px; */
    min-height: 250px; 
    max-height: 480px; 
    text-align: center;
    border-radius: 2%;
    padding-right: 30px; 
    padding-left: 30px; 
    overflow:auto; 
    margin-bottom: 50px;
}

.srv-shortcuts{
    margin-top: 5px;
    text-align: center;
    line-height: 25px;
}

.service-shortcut{
    border-radius: 5%;
    overflow: auto;
    background-color:silver;
    border : 1px solid gray;; 
    padding-top: 20px;
}

.service-imgs{
    border-radius: 50%;
}

.service-shortcut-description{
    padding: 20px;
    line-height: 35px;
}
/* *********************************************************************************************** */
