body{
    margin-top: 150px !important;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    /* background-color: rgba(0, 128, 125, 0.1); */


}
/************************************************************************************************************/
/* Navigation .icon-bar */

#logo{
    /* padding: -30px !important; */
    margin-left: 15px;

}
#navigation-bar{
    /* padding-right: 10px; */
    padding-left: 10px;
    background-color: whitesmoke !important;
    padding-top: 2px !important;
    /* padding-bottom: 2px !important; */
}
#navElements{
    margin-top: 60px;
    margin-right: 25px;


}
.navBtns{
    margin-right: 2px;
    min-width: 80px;
    background-color: whitesmoke ;
    color: black ;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

.highlight{
    color: red
}
#nav-toggle-btn{
    margin-top:55px;
    border: 3px solid red;
    line-height: 18px;
    padding: -110px !important;
}
.icon-bar{
    background-color: red !important;
}
/************************************************************************************************************/

.page-heading{
    text-align: center;
    font-size: 50px;
    padding: 20px;

}

/************************************************************************************************************/


/* Home page image slider styling */
.slider-images{
    /* margin-top: 70px; */
	margin-left: 10px;
	margin-right: 10px;
}

#home-image-text{
    font-size: 55px;
    font-weight: bolder;
    color: white;
    margin-top: -365px;
    margin-left: 820px;
    font-family: Arial, Helvetica, sans-serif;
}
/************************************************************************************************************/

.homepage-panel-specialAnnouncement{
	margin-top: -25px;
    text-align: center;
    font-size: 25px;
    font-weight : bold;
    /* overflow: auto; */
    /* background-color: rgba(0, 128, 125, 0.4); */
    /* color: red; */

}
/************************************************************************************************************/
.abtAndHours{
    border: 1px solid white;
    padding: 30px;
    background-color: rgba(0, 128, 125, 0.1);
    border-radius: 10px;
}


.homepage-panel-about{
    margin-top: 5px;
    text-align: center;
    /* padding-top: 30px; */
    line-height: 25px;
    /* background-color: red; */
    /* border: 1px solid black; */
}


.homepage-panel-hours{
    margin-top: 5px;
    line-height: 25px;
    text-align: center;

    /* padding:30px; */
    /* padding-bottom:80px; */
    /* background-color: red; */
    /* margin-left: 30px; */
    /* border: 1px solid black; */


}

/************************************************************************************************************/

.homepage-welcome-msg{
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    font-weight : bold;
}

.service-shortcut{
    padding-top:20px;
    margin-left: 20px;
    min-height: 250px;
    background-color: rgba(0, 128, 125, 0.1);   
    text-align: center;
    border-radius: 5%;
}

.service-imgs{
    border-radius: 50%;
}

.service-shortcut-description{
    padding: 20px;
    line-height: 35px;
}
/************************************************************************************************************/
/* Page footer */
.footerPanel{
    margin-top:8px;
    display: inline-block;
    height: 190px;
    /* background-color: rgba(0, 128, 125, 0.5); */
    /* background-color: rgba(0, 128, 125, 0.4); */
    background-color: whitesmoke !important;

    color: black;
    text-align: center !important;
    padding-top: 30px;
    font-family: 'Comfortaa', cursive;
    width: 100%;
} 

.footer-info{
    margin-top: 14px;
    line-height: 25px;
    font-size: 14px;
}

.fa {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin: -10px;
    border-radius: 12%;
    margin-right: 15px;
    font-size: 40px !important;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
    border: 1px solid white;
  }

.fa-android {
background: #a4c639;
color: white;
border: 1px solid white;
}

.fa-twitter {
background: #55ACEE;
color: white;
border: 1px solid white;
}

.fa-facebook {
background: #3B5998;
color: white;
border: 1px solid white;
}

